body{
    background-image: url(img/logo\ original.jpeg);
    background-repeat: no-repeat;

}




.login-container{
    text-align: center;
    margin-left: 20px;
    margin-left: 20px;
    margin: auto;
    width: 440px;
    height: 440px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    min-height: 80vh;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 11px 35px #000;
    border-radius: 20px;   
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
}

h1 {
    margin: 0;
    text-align: center;
    justify-content: center;
    height: 8px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.contenedor{
    width: 80%;
    margin-bottom: 15px;
    padding: 4px 4px;
    border-radius: 5px;
}


i{

}

button{
    width: 80%;

}

.Inicia{
    color: black;
}


  